@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root{
  height: 100%;
}

/* Editor.css */
.editor-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.editor-content {
  min-height: 150px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  outline: none;
}
